<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="com.htc.Madinson">
	<listeners>
		<listener
			class-name="com.htc.newMadinson.utility.CustomListener" />
	</listeners>
	<test name="Madinson WebPages Test">
		<classes>
			<class name="com.htc.newMadinson.test.RegistrationTest" /> 
			<!-- <class name="com.htc.newMadinson.test.LoginTest" /> 
			<class name="com.htc.newMadinson.test.CheckOutTest" />  -->
		</classes>
	</test>
</suite>